.banner
{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: -5;
    padding-bottom: 870px;
    background-repeat: no-repeat;
	background-image: url('../../images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&.scrolled
	{
		position: absolute;
	}
}