.banner
{
	position: fixed;
	top: 0;
	bottom: 0;
	margin-bottom: 64px;
    width: 100%;
    z-index: -5;
    background-repeat: no-repeat;
	background-image: url('../../images/art.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&.scrolled
	{
		position: absolute;
	}
}