#rsvp-form
{
	p 
	{
		width: 100%;
		margin-bottom: 5px;
	}
	label
	{
		margin-right: 20px;
	}
	textarea 
	{
		width: 350px;
	}
	button
	{
	margin-top: 15px;
	}
	
}

#rsvp
{
    background-color: #3d5571;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%233d5571' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2339506c' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23364b68' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23324663' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%232f425e' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%232b3d5a' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23283855' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23253451' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23222f4c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%231e2b48' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%231b2643' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2318223e' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23151d3a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23131935' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23101531' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230e102d' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230c0928' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23090124' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}