.subpage
{
	width: 100%;
	min-height: 50vh;;
    width: 100%;

	background-color: #f5f5f5;
    padding: 40px;
    &--wrap
    {
    	display: flex;
    	justify-content: space-between;

    	.about
    	{
    		&--him, &--her
    		{
    			flex-basis: 0;
    			flex-grow: 1;

    		}
    		&--her
    		{
    			margin-right: 10px;
    		}
    		&--him
    		{
    			margin-left: 10px;
    		}

    	}
    }
}

#main
{
    background-color: #12436C;
    color: white;
}

#about
{
    background-color: #9F8435;
    color: white;
}

#rsvp
{
    background-color: #3D5571;
    color: white;
}

#stuff
{
    background-color: #B6A589;
    color: white;
}

#venue
{
    background-color: #12436C;
    color: white;
}
