#venue
{
    background-color: #EABE9B;
color: #3D5571;
    text-align: center;
    .venue
    {
    	display: flex;
    	&--church, &--dining
	    {
	        flex-basis: 0;
	        flex-grow: 1;

	    }
	    &--church
	    {
	        margin-right: 10px;
	    }
	    &--dining
	    {
	        margin-left: 10px;
	    }
    }
    
}